# =========================
# Node
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Env (CRÍTICO 🔐)
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Build / temp
# =========================
dist/
build/
tmp/
temp/

# =========================
# Coverage
# =========================
coverage/

# =========================
# Optional
# =========================
*.local


.agents/
skills-lock.json